


/*
* Programmer Name
* Date
* Description of Project
*/


/* The universal selector */

* {
}

/* Put body attributes here */


h1 {
font-size: 150%;
text-align: center;
text-decoration: underline overline; 
}
img {float: right;} 

body { 
background-color:pink;
color:black;
font-family: "Times New Roman", Times, serif;
}


